<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hello</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumnoServlet</display-name>
    <servlet-name>AlumnoServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.AlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoServlet</servlet-name>
    <url-pattern>/alumnos.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CursoServlet</display-name>
    <servlet-name>CursoServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.CursoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoServlet</servlet-name>
    <url-pattern>/curso.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConvocatoriaServlet</display-name>
    <servlet-name>ConvocatoriaServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.ConvocatoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConvocatoriaServlet</servlet-name>
    <url-pattern>/convocatorias.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ipartek.formacion.listeners.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ipartek.formacion.listeners.InitListener</listener-class>
  </listener>
  <filter>
    <display-name>Backoffice</display-name>
    <filter-name>Backoffice</filter-name>
    <filter-class>com.ipartek.formacion.bean.filters.BackofficeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Backoffice</filter-name>
    <url-pattern>/backup</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <filter>
    <display-name>JspFilter</display-name>
    <filter-name>JspFilter</filter-name>
    <filter-class>com.ipartek.formacion.bean.filters.JspFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JspFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
</web-app>