<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<Resorce
	auth="Container"
	name="jdbc/gestor-convocatorias"
	driverClassName="com.mysql.jdbc.Driver"
	type="javax.sql.DataSource"
	url="jdbc:mysql://locahost:3036;databaseName=formacion"
	username="alumno"
	password="alumno"
	maxActive="100"
	maxIdle="30"
	maxWait="10000" 
	/>
</Context>